{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
{#<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>#}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Learning Site Administration</a></h1>
  <div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>
{% endblock %}

{% block nav-global %}{% endblock %}