.sidebar-nav>ul>li>a.active {
    background: inherit;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: .375rem .75rem;
}

.select2-container .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}